:root {
  --hoh-byline-margin: -0.75rem;
}

@media (min-width: 700px) {
  :root {
    --hoh-byline-margin: -2rem;
  }
}

@media (min-width: 980px) {
  :root {
    --hoh-byline-margin: -2.75rem;
  }
}

.Main > h2 + p {
  margin-top: var(--hoh-byline-margin);
  font-family: ABCSans, sans-serif;
  font-size: 0.9375rem;
  text-align: center;
}

.Block[data-custompan] > .Block-content.u-richtext > * {
  background-color: rgba(255, 255, 255, 0.8) !important;
  color: #000;
  font-size: clamp(1.2rem, 3vw, 1.55rem) !important;
  font-weight: bold;
  letter-spacing: 0.015em;
  line-height: 1.3 !important;
  text-align: center;
}
